<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}Diablo 3 Codex{% endblock %}
        </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header>
            {% include 'partials/header.twig' %}
            <nav>
                {% include 'partials/nav.twig' %}
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
                {% block graph %}{% endblock %}
        </main>
        <footer>
            {% include 'partials/footer.twig' %}
        </footer>
        {% block javascript %}{% endblock %}
    </body>
</html>
